.wrapper{
    width: 100%;
}
.trailer-block{
   margin-top: 50px;
}
.title{
    color: var(--text-dark-color);
    font-size: 2.5rem;
}
.popup-trailer{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    padding: 10px;
    gap:20px;
}
.trailer-item{
    width: 30%;
    height: 100%;
    position: relative;
}
.img{
    width: 100%;
    border-radius: 10px;
    z-index: -3;
}
.overlay{
    width: 100%;
    border-radius: 10px;
    z-index: 2;
    height: 97%;
    background-color: rgba(1,1,1,0.3);
    position: absolute;
    cursor: pointer;
    color: white;
    transition: 0.5s;
    padding: 10px;
    &:hover{
        background-color: rgba(255,255,255,0.2);
    }
}
.icon{
    width: 13%;
    height: 15%;
    padding: 2px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}