.wrapper{
    display: flex;
    max-width: 100%;
    padding: 8px 7px;
    border: none;
    user-select: none;
    font-size: 18px;
    position: relative;
}
.title +.icon, .icon +.title{
  margin-left: 8px;
}
.roundXl{
  border-radius: 100px;
}
.roundL{
   border-radius: 15px;
}
.roundM{
 border-radius: 5px;
}
.primary{
 min-width: 80px;
}

.small{
   min-width: 40px;
}

.large{
  min-width: 128px;
}

.nonBg{
  background-color: white;
}
.disabled{
  color: rgba(22, 24, 35, 0.34);
}
.icon{
  width: 2rem;
  height: 2rem;
}