.wrapper{
    max-width: 100%;
    background: var(--bg-color);
    padding:23px;
    padding-right: 50px;
    position: relative;
    top: 0;
    left: 0;
}
.sidebar-wrap{
    max-width: 30%;
    min-height: 100vh;
    position: fixed;
    left: 25px;
}
.container{
    max-width: 90%;
    margin-left: 300px;
    padding: 20px;
}