.wrapper{
    max-width: 100%;
    min-height: 4600px;
    background: var(--bg-color);
    padding:23px;
    padding-right: 50px;
}
.sidebar-wrap{
    max-width: 30%;
    min-height: 100vh;
    height: 583px;
    position: fixed;
    left: 25px;
}
.container{
    max-width: 90%;
    margin-left: 300px;
    padding: 20px;
}