@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root{
  --primary-color:#14B8A6;
  --second-color:#6366f1;
  --hover-color:#818cf8;
  --bg-color:#e5e7eb;
  --rem-web-tepmlate:20px;
  --shadow-color:#99f6e4;
  --text-dark-color:#374151;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}
button {
   cursor: pointer;
}
ul,li{
  list-style: none;
}
a{
  text-decoration: none;
}