@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root{
  --primary-color:#14B8A6;
  --second-color:#6366f1;
  --hover-color:#818cf8;
  --light-color:#e0e7ff;
  --bg-color:#e5e7eb;
  --rem-web-tepmlate:20px;
  --shadow-color:#99f6e4;
  --text-dark-color:#374151;
  --lg-screen:1500px;
  --md-screen:997px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}
button {
   cursor: pointer;
}
ul,li{
  list-style: none;
}
a{
  text-decoration: none;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
 display: none;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(233, 233, 233, 0.562); 
  border-radius: 10px;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
}
select::-ms-expand{
  display: none;
}